.dennou{
    font-size: 200%;
    background: #060303 url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC) repeat;
    text-shadow: 5px -5px black, 4px -4px white;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text 
    
}


.rider{
    margin-left: 10%;
    display: flex;
   
}
.kuuga{
    margin-left: 2%;
    margin-right: 30%;
    background-color: bisque;
}
.haikei3{
    
   background-image:url(kamen1.jpg); 
    background-size: cover;
  }
 .agito{
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 30%;
    background-color: gold;
 } 
.ryuki{
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 30%;
    background-color: aliceblue;
}
  